{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block body %}
<div class="subsection1">
    <h3> User Data </h3>
    <ul>
        <li>Username: {{ app.user.username}}</li>
        <li>Email: {{ app.user.email}}</li>
        <li>Account Created at: {{ app.user.creationDate | date("m/d/Y") }}</li>
        <li>Account Modified at: {{ app.user.modificationDate |date("m/d/Y") }}</li>
    </ul>
    <p><button>Update</button></p>
</div>
<div class="mainsection">
    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ 'src/Controller/ProfileController.php'|file_link(0) }}">src/Controller/ProfileController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'templates/profile/index.html.twig'|file_link(0) }}">templates/profile/index.html.twig</a></code></li>
        </ul>
    </div>
    <p><a href="{{ path('create_blog') }}"><button>Scribble swiftly!</button></a></p>
</div>
<div class="subsection2"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('profile') }}
{% endblock %}
