{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user.username }}!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block body %}
<div class="subsection1">
    <h3> User Data </h3>
    <ul>
        <li>Username: {{ app.user.username}}</li>
        <li>Email: {{ app.user.email}}</li>
        <li>Account Created at: {{ app.user.creationDate | date("m/d/Y") }}</li>
        <li>Account Modified at: {{ app.user.modificationDate |date("m/d/Y") }}</li>
    </ul>
    <a href="#"><p><button>Update</button></p></a>
</div>
<div class="mainsection">
    <div class="blogs">
        {% if blogs is defined and blogs is not null %}
            {% for blog in blogs %}
                <div class="blog">
                    <div class="author-tab">
                        <div class="profile-picture">
                            <div class="profile-circle"></div>
                        </div>
                        <div class="display-name">
                            {{ blog.author.username }}
                        </div>
                        <div class="edit-button">
                            <a href="{{ path('update_blog', {'blog_id': blog.id}) }}">
                                <div>
                                    <i class="fas fa-pencil-alt"></i>
                                </div>
                            </a>
                        </div>
                        <div class="author-settings">
                            <p>M</p>
                        </div>
                    </div>
                    <div class="featured-tab">
                        <div class="featured-photo">
                            {% if blog.featuredPhoto is not null %}
                            <div class="featured-photo">
                                <img src = "{{ asset('uploads/featuredphotos/' ~ blog.featuredPhoto) }}" />
                            </div>
                            {% else %}
                                <div class="featured-title-container">
                                    <div id="featuredBlogTitle">
                                        {{ blog.title}}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="menu-tab">
                        <div class="like-button">
                            <div class="menus">
                                <i class="far fa-heart"></i>
                            </div>
                        </div>
                        <div class="share-button">
                            <div class="menus">
                                <i class="fas fa-share-alt"></i>
                            </div>
                        </div>
                        <div class="pin-button">
                            <div class="menus">
                                <i class="fas fa-thumbtack"></i>
                            </div>
                        </div>
                    </div>
                    <div class="featured-content-tab">
                        <div id="featuredFeaturedContent">
                                    {{ blog.featuredContent}}
                        </div>
                        <a href="{{ path('detail_blog', {'blog_id': blog.id}) }}">
                            <span class="readmore">
                                Read more.
                            </span>
                        </a>
                    </div>
                </div>
                <hr>
            {% endfor %}
        {% else %}
                <div>You haven't scribbled anything, yet.</div>
        {% endif %}
    </div>
</div>
<div class="subsection2"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('profile') }}
{% endblock %}
