{% extends 'base.html.twig' %}

{% block title %}Hello {{ app.user.username }}!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
    {{ encore_entry_link_tags('profile') }}
{% endblock %}

{% block body %}
<div class="subsection1">
    <h3> User Data </h3>
    <ul>
        <li>Username: {{ app.user.username}}</li>
        <li>Email: {{ app.user.email}}</li>
        <li>Account Created at: {{ app.user.creationDate | date("m/d/Y") }}</li>
        <li>Account Modified at: {{ app.user.modificationDate |date("m/d/Y") }}</li>
    </ul>
    <p><button>Update</button></p>
</div>
<div class="mainsection">
    <div class="blogs">
            {% if blogs is not null %}
                {% for blog in blogs %}
                    <div class="blog">
                        <h2>{{ blog.title }}</h2>
                        <div>Date Created: {{ blog.creationDate | date("m/d/Y") }}</div>
                        <div>
                            <label>Featured Content:</label>
                            <div>{{ blog.featuredContent }}</div>
                        </div>
                        <div>
                            <label>Actual Content:</label>
                            <div>{{ blog.content }}</div>
                        </div>
                        <div>
                            <a href="{{ path('update_blog', {'blog_id': blog.id}) }}"><button>Update blog</button></a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div>You haven't scribbled anything, yet.</div>
            {% endif %}
    </div>
    <p><a href="{{ path('create_blog') }}"><button>Scribble swiftly!</button></a></p>
</div>
<div class="subsection2"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('profile') }}
{% endblock %}
