{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
    {{ encore_entry_link_tags('blog') }}
{% endblock %}

{% block body %}
    <div class="subsection1">
        <div>
            <textarea name="blogFeaturedContent"
                form="createblog" 
                id="featuredContent" 
                placeholder="Enter your featured content here ..."></textarea>
        </div>
        <div id="featuredPhoto">
            <label>Featured Photo: </label>
            <input form="createblog" type="file" name="blogFeaturedPhoto" id="blogFeaturedPhoto"/>
        </div>
        <div id="photo-preview">
            <img id="selectedImage" />
        </div>
    </div>
    <div class="mainsection">
        <form id="createblog" action="{{ path('process_create_blog') }}" method="post" enctype="multipart/form-data">
            <div class="title-container">
                <input type="text" id="blogTitle" name="blogTitle" placeholder="Blog Title"/>
            </div>
            <div>
                <textarea name="blogContent" id="content" placeholder="Enter your content here ..."></textarea>
            </div>
        </form>
    </div>
{% endblock %}

{% block dobutton %}
    <button form="createblog" class="do-btn post" type="submit">
        Post blog!
    </button>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
    {{ encore_entry_script_tags('blog') }}
{% endblock %}
