{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
    {{ encore_entry_link_tags('blog') }}
{% endblock %}

{% block body %}
<div class="mainsection">
    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        You are in the blog creation! This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ 'src/Controller/BlogController.php'|file_link(0) }}">src/Controller/BlogController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'templates/blog/index.html.twig'|file_link(0) }}">templates/blog/index.html.twig</a></code></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
    {{ encore_entry_script_tags('blog') }}
{% endblock %}
