{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
    {{ encore_entry_link_tags('blog') }}
{% endblock %}

{% block body %}
<div class="mainsection">
    <form action="{{ path('process_create_blog') }}" method="post" name="createblog">
        <div>
            <label>Blog Title</label>
            <input type="text" name="blogTitle"/>
        </div>
        <div>
            <label>Featured Content: </label>
            <input type="text" name="blogFeaturedContent"/>
        </div>
        <div>
            <label>Featured Photo: </label>
            <input type="file" name="blogFeaturedPhoto"/>
        </div>
        <div>
            <label>Content: </label>
            <textarea name="blogContent"></textarea>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
    {{ encore_entry_script_tags('blog') }}
{% endblock %}
