{% extends 'base.html.twig' %}

{% block title %}Update Blog: '{{ blog.title }}'{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
    {{ encore_entry_link_tags('blog') }}
{% endblock %}

{% block body %}
    <div class="subsection1">
        <div>
            <textarea name="blogFeaturedContent"
                form="updateblog" 
                id="featuredContent" 
                placeholder="Enter your featured content here ...">{{ blog.featuredContent }}</textarea>
        </div>
        <div id="featuredPhoto">
            <label>Featured Photo: </label>
            <input type="file" form="updateblog" name="blogFeaturedPhoto" value="{{ blog.featuredPhoto }}"/>
        </div>
    </div>
    <div class="mainsection">
         <form id="updateblog" action="{{ path('process_update_blog', {'blog_id' : blog.id}) }}" method="post">
            <div>
                <input type="text" id="blogTitle" name="blogTitle" value="{{ blog.title }}" placeholder="Blog Title"/>
            </div>
            <div>
                <textarea name="blogContent" id="content" placeholder="Enter your content here ...">{{ blog.content }}</textarea>
            </div>
        </form>
    </div>
{% endblock %}

{% block dobutton %}
    <button form="updateblog" class="do-btn update" type="submit">
        Update blog
    </button>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
    {{ encore_entry_script_tags('blog') }}
{% endblock %}
